---
import fs from 'fs';
import path from 'path';
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Caminho para o arquivo news.json
const jsonPath = path.resolve('data/news.json');

// Ler o conteúdo do arquivo
const fileContents = fs.readFileSync(jsonPath, 'utf-8');

// Converter o conteúdo em um array de objetos
const allBlogEntries = JSON.parse(fileContents);
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Notícias</Fragment>
      <Fragment slot="desc">Confira as principais e mais recentes notícias em Portugal</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          allBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <img
                    src={blogPostEntry.img}
                    alt={blogPostEntry.title}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover object-center bg-white"
                  />
                  <div>
                    <a href={blogPostEntry.sourceUrl} class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.sourceName}
                    </a>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1">
                      {blogPostEntry.title}
                    </h2>

                    <p class="text-gray-500">
                      {blogPostEntry.desc}
                    </p>

                    <div class="flex gap-2 mt-3">
                      <a href={blogPostEntry.link} class="text-gray-400" target="_blank">
                        Ler Notícia
                      </a>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
